.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin-left: 8%;
}

@media screen and (min-width: 319px) and (max-width: 770px) {
    .list-container {
        width: 100vw;
        margin-left: 0;
        padding-left: 0;
    }
  }

  @media screen and (min-width:1020px) and (max-width: 1050px) {
    .list-container {
        width: 43.5vw;
        margin-left: 5%;
    }
    }